body {
    padding-top: 100px;
    padding-bottom: 40px;
    background-image: url("/images/bg.png");
}
.sidebar-nav {
    padding: 9px 0;
}

#map_canvas{
    width: 800px;
    height: 500px;
    margin: 0;
    padding: 0;    
}